*{
    margin: 0;
    box-sizing: border-box;
}
.section1{
    height: 17vh;
    width: 100%;
    background-color: white;
    display: grid;
}

.section2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 83vh;
    width: 100%;
    background-color: #f46c24;
}
.logo{

    position: absolute;
    width: 179px;
    height: 163px;

}
.btnvoltar{
    grid-column: 5;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 8px;
    position: absolute;
    width: 161px;
    height: 75px;
    left: 1600px;
    top: 44px;
    background: #000000;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-decoration: none;
    }

.titulo{
    position: absolute;
    width: 437px;
    height: 58px;
    left: 240px;
    top: 42px;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
    margin-left: 50vh;
}

.imgamoda{
    position: absolute;
    width: 206px;
    height: 162px;
    left: 21px;
    top: 224px;
    background: url(image.png);
}

.titleamoda{
    position: absolute;
    width: 139px;
    height: 25px;
    left: 260px;
    top: 259px;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.descamoda{
    position: absolute;
    width: 193px;
    height: 51px;
    left: 231px;
    top: 289px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

}

.imgcalabresa{
/* image 24 */

position: absolute;
width: 206px;
height: 141px;
left: 21px;
top: 494px;

background: url(image.png);

}

.titlecalabresa{
    position: absolute;
    width: 139px;
    height: 25px;
    left: 263px;
    top: 529px;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.desccalabresa{
    position: absolute;
    width: 202px;
    height: 27px;
    left: 233px;
    top: 573px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.imgfrango{
    position: absolute;
    width: 185px;
    height: 150px;
    left: 21px;
    top: 743px;
    background: url(image.png);
}

.titlefrango{
    position: absolute;
    width: 243px;
    height: 27px;
    left: 211px;
    top: 791px;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.descfrango{
    position: absolute;
    width: 239px;
    height: 26px;
    left: 213px;
    top: 826px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.img4queijos{
    position: absolute;
    width: 211px;
    height: 162px;
    left: 478px;
    top: 224px;
    background: url(image.png);
    margin-left: 500px;
}

.title4queijos{
    position: absolute;
    width: 143px;
    height: 28px;
    left: 730px;
    top: 254px;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 500px;
}

.desc4queijos{
    position: absolute;
    width: 202px;
    height: 58px;
    left: 700px;
    top: 289px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 500px;
}

.imgmar{
    position: absolute;
    width: 215px;
    height: 164px;
    left: 476px;
    top: 477px;
    background: url(image.png);
    margin-left: 500px;
}

.titlemar{
    position: absolute;
    width: 143px;
    height: 28px;
    left: 732px;
    top: 494px;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 500px;
}

.descmar{
    position: absolute;
    width: 194px;
    height: 47px;
    left: 707px;
    top: 541px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 500px;
}

.imgveg{
    position: absolute;
    width: 212px;
    height: 160px;
    left: 477px;
    top: 733px;
    background: url(image.png);
    margin-left: 500px;
}

.titleveg{
position: absolute;
width: 164px;
height: 28px;
left: 721px;
top: 782px;
font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
margin-left: 500px;
}

.descveg{
    position: absolute;
    width: 194px;
    height: 47px;
    left: 704px;
    top: 818px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 500px;
}